.home{
    position: relative;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    font-size: 4em;
    color:hsl(353, 100%, 9%);
    text-shadow: rgb(255, 0, 140) 10px 1px 10px, #FC0 2px 1px 10px, #FC0 2px 1px 10px, #FC0 2px 1px 10px;
    transform: rotate(2deg);
    z-index: 1;
}






body{
    background-color: #f2f1d0c6;
    overflow-x: hidden;  
    animation: pulse 77s infinite;
    background-image: url(images/transparentTuring.png);
    font-family: "Cormorant Garamond", serif;
    font-style:normal;
    background-repeat:unset;
}

#redWord1{
  color: hsl(353, 100%, 50%);
}
#redWord2{
  color: hsl(353, 100%, 50%);
}
#redWord3{
  color: hsl(353, 100%, 50%);
}

#finger{
  width: 100%;
}

img:hover {
  transform: scaleX(-1);
}

.red{
  display: inline-block;
}

#fingerLabel{
  text-align: center;
}

#contact{
  text-align: center;
}

#group{
  text-align: center;
}

/* unvisited link */
a:link {
  color: #800080;
}

/* visited link */
a:visited {
  color: hsl(247, 100%, 50%);
}

footer{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  color:#8b7a3a;;
  filter: invert(1);
  mix-blend-mode:difference;
}