body{
    background-color: #f2f1d0c6;
    overflow-x: hidden;  
    animation: pulse 77s infinite;
    background-image: url(images/transparentTuring.png);
    background-blend-mode: color-burn;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
}


